.App {
    font-family: sans-serif;
    text-align: center;
    background-color: brown;
    border: 4rem solid greenyellow;
    border-radius: 45rem;

  }

.App > h1 {
    color: whitesmoke;
    font-size: 5rem;
}

.App > h2 {
    color: yellow;
    font-size: 2rem;
    font-family: cursive;
}

.Avatar {
    background-color: aqua;
    border: 4rem solid green;
    margin-top: 3rem;
    padding: 3rem;
    text-align: center;
    font-size: 3rem;
    color: blue;

}
  
.Picture {
    margin-top: 3rem;
    margin-left: 45rem;
}

.Picture > img {
    width: 60%;
    height: 200vh;
    

}