.App {
    font-family: sans-serif;
    text-align: center;
    background-color: brown;
    border: 4rem solid greenyellow;
    border-radius: 45rem;

  }

.App > h1 {
    color: whitesmoke;
    font-size: 5rem;
}

.App > h2 {
    color: yellow;
    font-size: 2rem;
    font-family: cursive;
}
  
